* {
  font-family: "Reenie Beanie", serif;
}

html {
  background-color: #008753;
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/************
HEADER
************/

.brand-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5%;
  color: #F6F6F6;
}

h1.brand-font {
  font-family: 'Fjalla One', sans-serif;
  margin: 50px 0 0;
}

h2.brand-font {
  margin-left: 10px;
  margin-right: 10px;
}

.base-font {
  margin: 0;
  font-size: 3rem;
}

/**********
QUOTE AREA
**********/

#qouteText {
  text-align: center;
  font-size: 4rem;
  line-height: 100px;
}

.quoteSpace {
  background-color: #f6f6f6;
  width: 40%;
  margin:  0 auto;
  border-radius: 4px;
  padding: 50px;
  margin-bottom: 5%;
  border: 2px #FF00FF dashed;
}

.quoteSpace i {
  font-size: 2rem;
  margin-right: 10px;
}

/**********
BUTTON AREA
**********/

.btn-hold {
  width: 100%;
  text-align: center;
}

.button {
  border-radius: 5%;
  padding: 5px;
  margin: 0 auto;
  background: none;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 5px 0 6px;
  cursor: pointer;
  color: #F6F6F6;
}

.button:hover {
  box-shadow: 0 5px 0 6px #F6F6F6;
  position: relative;
  top: 5px;
}

/**************
Social media splash
***************/

.splash-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.splash-wrapper img {
  padding: 0;
  margin: 0;
  margin-bottom: -50px;
  width: 200px;
  height: 256px;
  text-align: center;
}

.social-media-btns {
  display: block;
}

/* Smartphones */

@media (max-width:500px) {
  .brand-title {
    font-size: 2rem;
    margin-top: -25px;
  }

  .base-font {
    font-size: 1.65rem;
    margin-bottom: 10px;
  }

  #qouteText {
    font-size: 1.75rem;
  }

  .qouteSpace {
    padding: 10000px !important;
  }

  .button {
    font-size: 0.65rem;
  }

}

@media (min-width: 700px) {
  .splash-wrapper {
    position: fixed;
  }
}

@media (min-width: ) {

}

@media (max-width: 800px) {
  .base-font {
    font-size: 1.84rem;
  }

  #qouteText {
    font-size: 2rem;
  }

  .button {
    font-size: 0.65rem;
  }
}
